@using DZDDashboard.Client.Components.OrgChart

<div class="tree">
    <ul>
        @foreach (var root in Nodes)
        {
            <OrgChartNode Node="root"
                          IsRoot="true"
                          IsEditMode="IsEditMode"
                          IsSelectionMode="IsSelectionMode"
                          OnAddChild="OnAddChild"
                          OnEditNode="OnEditNode"
                          OnDeleteNode="OnDeleteNode"
                          OnNodeSelected="OnNodeSelected" />
        }
    </ul>
</div>

@code {
    [Parameter] public List<OrgChartNodeItem> Nodes { get; set; } = new();
    [Parameter] public bool IsEditMode { get; set; }
    [Parameter] public bool IsSelectionMode { get; set; }
    [Parameter] public EventCallback<OrgChartNodeItem> OnAddChild { get; set; }
    [Parameter] public EventCallback<OrgChartNodeItem> OnEditNode { get; set; }
    [Parameter] public EventCallback<OrgChartNodeItem> OnDeleteNode { get; set; }
    [Parameter] public EventCallback<OrgChartNodeItem> OnNodeSelected { get; set; }
}

